body {
  font-family: sans-serif;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100vh;
}

.container {
  margin-top: 40px;
    height: 80%;
    width: 80%;
   background-color: azure;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 20px;

}

input {
  justify-content: center;
    text-align: center;
    width: 50%;
    background-color:white ;
    border-radius: 10px;
    height: 30px;
}

button {
 background-color: burlywood;
    border-radius: 10px;
    border: none;
    height: 30px;
}


.task-item {
 background-color: aqua;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.task-item span {
  flex: 1;
}

.task-item button {
 
  border: none;
  color: white;
  padding: 4px 6px;
 
}

.task-item .delete-btn {
  background-color: red;
}

.task-item .edit-btn {
  background-color: orange;
}
